.recommended-products-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &__title-wrapper {
        order: 1;
        width: 50%;
    
        @media (max-width: 768px) {
          flex: 1;
          width: 100%;
        }
      }

    &__title {
        font-size: 40px;
        font-weight: 400;
        margin-top: 8px;
    
        @media (max-width: 768px) {
          font-size: 36px;
        }
      }  

    &__silder-wrapper {
        width: 100%;
        order: 3;
        margin: 52px 0 10px 0;
    
        @media (max-width: 768px) {
          order: 2;
          flex-basis: 100%;
          margin: 32px 0 10px 0;
        }
      } 
    
    &__product-info-wrapper {
        height: 74px;
     }

    &__product-name {
        font-size: 20px;
        margin: 8px 0 0;
      }
    
    &__product-description {
        font-size: 13px;
        margin: 8px 0 0;
        color: var(--gray-800);
      }
    
    &__price-wrapper {
        display: flex;
        align-items: center;
        margin-top: 20px;
     }

    &__product-price {
        font-size: 16px;
      }

    &__product-price-reduce {
        text-decoration: line-through;
        font-size: 15px;
        color: var(--gray-800);
        margin-left: 8px;
      }

    &__product-slide-info-wrapper {
        display: flex;
        flex-direction: column;
        text-align: initial;
        width: var(--swiper-product-image-width);
        margin-top: 20px;
      } 
    
&__product-image {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

      &__product-image-wrapper {
        height: var(--swiper-product-image-height);
        width: var(--swiper-product-image-width);
      }
      
    &__product-image-tag {
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        color: var(--white);
        background-color: var(--red-400);
        padding: 4px 8px;
        border-radius: 4px;
    
        position: absolute;
        top: 12px;
        left: 12px;
      }

     &__button-wrapper {
        width: calc(50% - 100px);
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin-right: 100px;
        order: 2;
    
        @media (max-width: 768px) {
          flex: 1;
          order: 3;
          width: 100%;
          justify-content: flex-start;
          margin: 0;
        }
      } 
}
  

.swiper {
    .swiper-slide {
        width: var(--swiper-product-image-width);
      }

    .swiper-button-prev, .swiper-button-next {
        top: calc((var(--swiper-product-image-width) / 2) + (var(--swiper-navigation-size) / 2));
        border-radius: 50%;
        width: var(--swiper-navigation-size);
        height: var(--swiper-navigation-size);
        background: var(--white);
        border: 1px solid var(--gray-250);

        &::after {
            font-size: var(--swiper-navigation-icon-size);
        }
      }
     .swiper-button-prev {
    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  .swiper-button-next {
    &.swiper-button-disabled {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }  
}