:root {
    --black: #000;
    --white: #FFF;
    --red-400: #E35249;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-250: #EDEDED;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #5b5b5b;
    --gray-900: #333333;
  }

/* fonts */
@font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi-Light.woff2') format('woff2'),
         url('./Satoshi-Light.woff') format('woff'),
         url('./Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi-Regular.woff2') format('woff2'),
         url('./Satoshi-Regular.woff') format('woff'),
         url('./Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }  
  
  @font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi-Bold.woff2') format('woff2'),
         url('./Satoshi-Bold.woff') format('woff'),
         url('./Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

.section-ft {
    font-family: 'Satoshi', sans-serif !important;
    padding: 96px 100px;
    
    @media (max-width: 768px) {
      padding: 64px 16px;
    }
}
    
.section-ft--without_right_padding {
    padding: 96px 0 96px 100px;
    
    @media (max-width: 768px) {
      padding: 64px 0 64px 16px;
    }
}